/*propriétés de la bannière (logo et titre)*/
.ban
{
    display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top:1.7%;

}
/*division correspondant à l'entete, contenant le logo, le titre et le menu du site */
.entete
{
    background-color: #2c3e50;
    padding-top: 0.8%;
    padding-left: 0.8%;
    padding-right: 0.8%;
    padding-bottom: 2.1%;
}
.acces
{
	margin-right:0%;
	margin-left:80%;
	color: white;
	font-size:75%;
}

/* propriétés des accès*/
.menuacces{
	text-decoration: none;
	color:white;
}

.menuacces:visited{
	color: white;
}

.menuacces:hover, a:focus, a:active{
	text-decoration: underline;
	color:white;
}


/* division nav contenant le menu */
.menu{
	margin: 2% auto 0;

	position: relative;
	width: 590px; /*ne pas changer en % car sinon menu cassé*/
	height: 50px; /*idem*/
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}


 /*pour eviter soulignement des liens visités*/
.menu:hover, a:focus, a:active{
	text-decoration:none;
}

.menu:hover, a:visited{
	text-decoration:none;
}


/* propriété des balises a de la classe menu, design des éléments du menu */
nav a {
	line-height: 50px; /*idem*/
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}





/* propriétés d'animation du menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 110px;
}
a:nth-child(3) {
	width: 100px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-accueil, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #2EB2FF;
}
nav .start-formation, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color:#FFBD4A;
}
nav .start-cartes, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color:#99E265;
}
nav .start-temoignages, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #FF5C5C;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color:#A2A6A8;
}




/*fin propriétés d'animation du menu ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


/*propriétés du contenu*/
body
{
	background: #f2f2f2;
    padding: 0%;
    margin: 0%;
    font-family:'Oxygen', sans-serif;

}


/*propriétés du contenu de la page*/
.contenu
{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

/*classe regroupant le titre h1 et le titre h3*/
.titre
{
	font-family:'Titillium Web', sans-serif;
	text-align: center;
}

h1
{
	color:#99E265 ;
	padding-top:5%;
	font-size:220%;
}

.soustitre /*h3*/
{
    color:#FFBD4A;
	padding-bottom:5%;
	font-size:150%;
}

/*classe regroupant la première map et le premier commentaire à droite de la premère map*/
.carte1
{
    display: inline;
    /*margin-bottom:10%;*/
	/*padding-bottom: 10%;*/
	margin-left: 0%;
}

/*première map de la page "cartes"*/
.map1
{
	width:50%;
    position:relative;
	margin-left:5%;
	border-radius: 10px 10px 10px 10px;
	vertical-align:middle;

}

/*classe regroupant la deuxième map et le deuxième commentaire à gauche de la deuxième map*/
.carte2{
	display:inline;
	margin-left:10%;
}

/*deuxième map de la page "cartes"*/
.map2
{
    width:50%;
    position:relative;
	margin-right: 5%;
	border-radius: 10px 10px 10px 10px;   
	vertical-align:middle;
	margin-top:25%;
}

/*premier commentaire à gauche de la première map*/
.rond1
{
    width:30%;
	margin-bottom:7%;	
}

.espace
{
    padding-top:10%;
}

/*deuxième commentaire à droite de la première map*/
.rond2
{
	width: 30%;
	margin-bottom:7%;
	float:right;	
}



footer{
    font-family: 'Titillium Web', sans-serif;
	color:white;
	background-color: #2c3e50;
    padding-top: 0.8%;
    padding-left: 0.8%;
    padding-right: 0.8%;
	padding-bottom: 2.1%; 
    text-align:center;
    margin-bottom:0%;
    /*position:absolute;*/
    width:auto;
    bottom:0%;
    left:0%;
	right:0%;
	font-size:75%;
	
}


.logofooter
{
	width:3.5%; /*50px*/
}